doctype html
html
	head
		meta(charset='utf-8')
		title #{config.general.name}
		link(rel='stylesheet', type='text/css', href='/build/style/main.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel="stylesheet", type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

	body
		#startView
			#centerbox
				#cbinner
					h1#mainTitle #{config.general.name}
					span#feedback
					form#mainForm
						label(for='irNickname') Nickname
						input#irNickname(type='text')
						br
						label(for='irChannel') Channels
						input#irChannel(type='text',placeholder="#channel")
						br
						button#irInit Connect
						br
						span#showMore Set Server and Port
						br
						div#server-and-port-options
							label(for='irServer') Server
							input#irServer(value='#{config.irc.default_serv}',type='text',placeholder="irc.server.net")
							br
							label(for='irPort') Port
							input#irPort(type='text',value="6667")
							br
							label(for='irSSL') Use SSL
							input#irSSL(type='checkbox')
		#chatView(style="display:none")
			#tabsArea
				#tabList
				.optionmotifs
					span#usercount
						i(title="Information")#chninfo.fa.fa-fw.fa-info-circle
						i(title="Nicks in channel (operators)")#user.fa.fa-users &nbsp;
						span#usercounti 12
						span#usercounto (2)
					i#settings-menu.fa.fa-fw.fa-gear.fa-2x
			#chatArea
				.nickdivider
				#topicView
				#messageView
				#userList
			#nicknamebox.invisible
				form#nickChanger
					input#ircNN(type="text")
					button#ircNicknameChange Done
			#inputArea
				span#ircNickname icydiamond
				#wrap
					input#ircMessage(type="text")

	script(type="text/javascript", src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/build/script/main.js')