<span class="nickname" data-nickname="{{nickname}}">
	{{#opstat}}<span class="opstat op_{{grpfix}}" title="{{prefixname}}">{{opstat}}</span>{{/opstat}} <span class="nickcontt">{{nickname}}</span>
</span>