
props(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args
    
props2(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args
    
transition()
    props('transition', arguments)

box-shadow()
    props2('box-shadow', arguments)

body
    padding: 0
    margin: 0
    font-family: Open Sans, Everson Mono, Helvetica

#startView
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    
    #centerbox
        width: 300px
        height: auto
        position: absolute
        left: 50%
        
        #cbinner
            right: 50%
            position: relative
            text-align: left
            
            input
                margin-top: 5px

            #mainTitle
                text-align: center

label
    width: 100px
    display: inline-block

#showMore
    color: #26CDFF
    display: block
    border-bottom: 1px dotted
    cursor: pointer

#server-and-port-options
    overflow: hidden
    max-height: 0
    transition max-height ease-out 0.15s
    
    &.shown
        max-height: 90px
        transition max-height ease-in 0.25s

#irInit
    display: block
    margin: 0 auto
    background: #00DCFF
    color: #fff
    border: none
    font-size: 20px
    width: 180px
    height: 40px
    margin-top: 10px
    transition background-color linear 0.1s
    &:hover
        background: #00C3E2

.butto,button,input[type=submit]
    display:inline-block
    background-color:#F4F4F4
    min-width:55px
    height:25px
    line-height:25px
    font-weight:bold
    font-size:12px
    padding:0px 10px 0px 10px
    text-align:center
    border-radius:5px
    margin-top:5px
    color:#333
    border:1px solid silver
    transition border linear 0.1s,box-shadow linear 0.1s
    box-shadow none
    font-family:'Droid Sans',"Helvetica Neue",Helvetica,Arial,sans-serif
    background:linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(238, 238, 238) 100%)

a .butto
    color: #333

.butto:hover,input[type=submit]:hover,button:hover
    cursor:pointer
    color:#111
    text-decoration:none
    background-color:#F6F6F6
    border:1px solid gray
    box-shadow 0 1px 3px rgba(0,0,0,0.1)

.butto:active,input[type=submit]:active,button:active
    box-shadow inset 0 1px 3px rgba(0,0,0,0.1)

.butto:disabled
    background-color:#E0E0E0
    color:#777

input,textarea
    transition border linear 0.1s,box-shadow linear 0.1s 
    box-shadow inset 0 1px 3px rgba(0,0,0,0.1)
    padding:5px
    border-radius:2px
    border:1px solid rgb(235, 235, 235)
    font-family:'Droid Sans',"Helvetica Neue",Helvetica,Arial,sans-serif
    &:focus
        outline:0
        border-color:rgba(82,168,236,0.8)
        box-shadow inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6)

#chatView
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    #tabsArea
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 40px
        background-color: #00B7B7
        #tabList
            position: absolute
            top: 2px
            bottom: 2px
            left: 2px
            right: 200px
            .tab
                display: inline-block
                padding: 7px
                background-color: #00D4D4
                border-radius: 5px
                color: #fff
                cursor: pointer
                &:hover,&.active
                    background-color: #009696;

    #chatArea
        position: absolute
        bottom: 32px
        top: 40px
        left: 0
        right: 0
        background-color: #F1F1F1
        #topicView
            top: 0
            left: 0
            right: 0
            height: 20px
            background-color: #FBFBFB
            display: none
        #messageView
            position: absolute
            bottom: 0
            top: 0
            left: 0
            right: 0
            padding: 5px
        #userList
            position: absolute
            top: 0
            right: 0
            bottom: 0
            width: 270px
            border-left: 1px solid #DADADA
            display: none
        &.displaynicklist
            #topicView
                right: 270px
            #messageView
                right: 270px
            #userList
                display: block
        &.displaytopic
            #topicView
                display: block

    #inputArea
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 26px
        padding: 3px
        background-color: #00B7B7
        #wrap
            position: absolute
            right: 40px
            left: 160px
            top: 3px
            input
                width: 100%
                border-top-left-radius: 0
                border-bottom-left-radius: 0
        #ircNickname
            width: 150px
            line-height: 16px
            display: inline-block
            height: 17px
            background-color: #009292
            border-top-left-radius: 5px
            border-bottom-left-radius: 5px
            padding: 5px
            color: #fff